<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Better Invoice - Static</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {},
          fontFamily: {
            hero: ["Space Grotesk", "sans-serif"],
          },
        },
      };
    </script>
  </head>
  <body>
    <div class="flex content-between items-center">
      <div>Info</div>
      <div>Logo</div>
    </div>
  </body>
</html>
